body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;

}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;

}

h1{
   font-size: 5.625rem;
   margin: 50px auto 0 auto;
   font-family: 'Sacramento', cursive;
   color: #EB5353;
}

.heading-p{
    color: #40514E;
}

hr{
    border-style:  none;
    border-top-style: dotted;
    border-color: #EB5353;
    border-width: 10px;
    width: 5%; 
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #EB5353;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #EB5353;
}


.top-container{
    background: #FAD4D4;
    position: relative;
    padding-top: 100px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.middle-container{
 
}

.bottom-container{
  
}


.img-css{
    float: left;
    margin-right: 30px;
}

.img-eating{
    float: right;
    margin-left: 30px;
}

.btn {
    background: #FAD4D4;
    background-image: -webkit-linear-gradient(top, #FAD4D4, #EB5353);
    background-image: -moz-linear-gradient(top, #FAD4D4, #EB5353);
    background-image: -ms-linear-gradient(top, #FAD4D4, #EB5353);
    background-image: -o-linear-gradient(top, #FAD4D4, #EB5353);
    background-image: linear-gradient(to bottom, #FAD4D4, #EB5353);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #EB5353;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #FAD4D4 2px;
    text-decoration: none;
    bottom: 200px;
  }
  
  .btn:hover {
    background: #FAD4D4;
    background-image: -webkit-linear-gradient(top, #FAD4D4, #FF5D5D);
    background-image: -moz-linear-gradient(top, #FAD4D4, #FF5D5D);
    background-image: -ms-linear-gradient(top, #FAD4D4, #FF5D5D);
    background-image: -o-linear-gradient(top, #FAD4D4, #FF5D5D);
    background-image: linear-gradient(to bottom, #FAD4D4, #FF5D5D);
    text-decoration: none;
  }


  .contact-me{
    line-height: 2;
    margin: 100px auto 100px auto ;
  }

  .bottom-container{

    background:#FAD4D4 ;
    padding: 50px 0 20px ;
  }

.footer-link{
    color:#EB5353;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.footer-link:hover{
    color: #B20600;
}

.copyright{
    color:#B20600 ;
    font-size: 1rem;
    padding: 20px 0;
}